name: Delete old packages

on:
  workflow_call:
    secrets:
      gha-pkg-token:
        description: "Personal access token with delete:packages permission"
        required: true

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  delete-old-packages:
    runs-on: ubuntu-latest

    steps:
      - name: Extract package name
        id: extract_package_name
        run: |
          package_name=`echo ${{ env.IMAGE_NAME }} | sed "s/^.*\(vg-.*\)/\1/"`
          echo "Set package_name to ${package_name}"
          echo "package_name=${package_name}" >> "$GITHUB_OUTPUT"

      - name: Delete old packages
        uses: snok/container-retention-policy@v3.0.1
        with:
          image-names: ${{ steps.extract_package_name.outputs.package_name }}
          cut-off: 4h
          timestamp-to-use: updated_at
          account: victoryguide
          keep-n-most-recent: 3
          skip-tags: latest
          token: ${{ secrets.gha-pkg-token }}
