name: Create new release for npm repo

on:
  workflow_call:
    inputs:
      branch:
        type: string
        description: "The branch to create a release from"
        required: false
        default: "main"
      version-tag-prefix:
        description: "The prefix to use for the new tag"
        required: false
        default: "v"
        type: string
    secrets:
      gha-pkg-token:
        description: "Personal access token with read:packages permission"
        required: true

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-publish-new-release:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.version-info.outputs.new_tag }}
      new_version: ${{ steps.version-info.outputs.new_version }}
      previous_version: ${{ steps.version-info.outputs.previous_version }}
      release_type: ${{ steps.version-info.outputs.release_type }}
      changelog: ${{ steps.version-info.outputs.changelog }}

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://npm.pkg.github.com"
          cache: "npm"

      - uses: fregante/setup-git-user@v2.0.2

      - name: Get new version information
        id: version-info
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_branches: ${{ inputs.branch }}
          tag_prefix: ${{ inputs.version-tag-prefix }}
          dry_run: true

      - run: npm ci
        env:
          GHA_PKG_TOKEN: ${{ secrets.gha-pkg-token }}

      - name: Update version in package.json
        run: |
          jq ".version = \"${{ steps.version-info.outputs.new_version }}\"" package.json > package.json.tmp && mv package.json.tmp package.json &&
          if [[ -n $(git diff -- package.json) ]]; then
            npm i --package-lock-only
            git add package.json
            git add package-lock.json
            git commit --no-verify -m "chore: update version in npm package files (${{ steps.version-info.outputs.previous_version }} -> ${{ steps.version-info.outputs.new_version }}) [skip ci]"
            git push --no-verify
          fi

      - name: Build package
        run: npm run build
        env:
          GHA_PKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish package
        run: npm publish
        env:
          GHA_PKG_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create a GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version-info.outputs.new_tag }}
          name: Release ${{ steps.version-info.outputs.new_tag }}
          body: ${{ steps.version-info.outputs.changelog }}
